<app-header titulo="Perfil"></app-header>

<ion-content>

    <div class="fondo">
      <ion-card>
        <ion-card-header >
          <ion-card-title color="duoc" >PERFIL Duoc UC</ion-card-title>
          <hr>
          <img  class="fotis" src="../../../assets/img/icons8-cat-profile-100.png" />
          <ion-item>
            <hr>
            <ion-card-title color="duoc" >{{usuariolog.nom}} {{usuariolog.ape}}</ion-card-title>
            
              
            
          </ion-item>
      </ion-card-header>
      <ion-list class="coloritem" >
        <ion-list-header color="duoc" > DATOS PERSONALES </ion-list-header>


        <div>

        
        <ion-item >
            <p>Nombre: {{usuariolog.nom}}</p>
        </ion-item>
        <hr>
        <ion-item>
          <p>Apellido: {{usuariolog.ape}}</p>
      </ion-item>
        <hr>  
        <ion-item>
          <p>Rut: {{usuariolog.rut}}</p> 
        </ion-item>
        <hr>
        <ion-item>
        <p>  Fecha de Nacimiento: {{usuariolog.fecha_nac}} </p> 
        </ion-item>
        <hr>
        <ion-item>
        <p>  Semestre: {{usuariolog.semestre}} </p> 
        </ion-item>
        <hr>
 

      </div>
      </ion-list>
      </ion-card>
    </div>
</ion-content>




