<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="end">
      <p>Bienvenido {{usuariolog.nom}}</p>
      <ion-back-button text=""  color="duoc" defaultHref="/"> </ion-back-button>
    </ion-buttons>
      <ion-buttons slot="start">
        <ion-button  color="duoc"(click)="toggleMenu()">
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
        
        
        <ion-menu-button  menu="primerMenu"></ion-menu-button>
        </ion-buttons>

    <ion-title class="text-capitalize">{{titulo}}</ion-title>

  </ion-toolbar>
</ion-header>
