<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="end">
      
      

      <ion-back-button text=""  color="duoc" > </ion-back-button>
    </ion-buttons>
    
        <ion-button *ngIf="titulo !='Registrar'" slot="end" color="duoc" name="power-outline" (click)="logOut()">Cerrar Sesion</ion-button>
       
        <ion-button *ngIf="titulo =='Registrar'" slot="end" color="duoc" (click)="logOut()"><ion-icon name="arrow-undo-outline"></ion-icon></ion-button>
          
        
        
        
        

    <ion-title class="text-capitalize">{{titulo}}</ion-title>

  </ion-toolbar>
</ion-header>
