<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="end">
      
      

      <ion-back-button text=""  color="duoc" > </ion-back-button>
    </ion-buttons>
    
       
        <ion-button *ngIf="titulo =='Registrar'" slot="end" color="duoc" (click)="logOut()"><ion-icon name="arrow-undo-outline"></ion-icon></ion-button>
        
       
        <ion-button *ngIf="titulo =='Recuperar'" slot="end" color="duoc" (click)="logOut()"><ion-icon name="arrow-undo-outline"></ion-icon></ion-button>
        

        <ion-button *ngIf="titulo =='Perfil'" slot="end" color="duoc" (click)="logOut()"><ion-icon name="arrow-undo-outline"></ion-icon></ion-button>

        <ion-button *ngIf="titulo =='Asistencia'" slot="end" color="duoc" (click)="logOut()"><ion-icon name="arrow-undo-outline"></ion-icon></ion-button>
        

        <ion-button *ngIf="titulo =='Admin'" slot="end" color="duoc" (click)="logOut()"><ion-icon name="arrow-undo-outline"></ion-icon></ion-button>

        <ion-button *ngIf="titulo =='Clases'" slot="end" color="duoc" (click)="logOut()"><ion-icon name="arrow-undo-outline"></ion-icon></ion-button>

        <ion-button *ngIf="titulo =='Api'" slot="end" color="duoc" (click)="logOut()"><ion-icon name="arrow-undo-outline"></ion-icon></ion-button>

    <ion-title class="text-capitalize">{{titulo}}</ion-title>

  </ion-toolbar>
</ion-header>
