<ion-header>
  <ion-toolbar>
    <ion-title>detalle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <h1>Pokemons: </h1>
    </ion-row>

    <ion-row *ngFor="let pokemon of pokemons; let i = index ">
      <ion-item button style="width: 100%;" (click)="showPokemon(i + 1)">
      
        <h3 [innerText]="pokemon.name"></h3>
        
        <!-- <ion-button (click)="pruebaimg" ></ion-button> -->
      </ion-item>
    </ion-row>
  </ion-grid>
</ion-content>
