<app-header titulo="Admin"></app-header>

<ion-content >
  <div class="fondo">

    
<ion-menu side="end" contentId="mainxd" class="extendido">
  <ion-header>
    <ion-toolbar color="duoc">
      <ion-buttons slot="end">
        <ion-button (click)="toggleMenu()"  > <img class="imagenbot2" src="../../../assets/img/icons8-multiply-100.png" alt=""></ion-button>
      </ion-buttons>
      <ion-title>Datos</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
     <form [formGroup]="usuario" (ngSubmit)="registrar2()">

      <ion-input formControlName="id" [disabled]="true"></ion-input>
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input type="email" placeholder="Ingrese su email" formControlName="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Rut</ion-label>
      <ion-input type="text" maxlength="12" placeholder="Ingrese rut" formControlName="rut"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Nombre</ion-label>
      <ion-input type="text" placeholder="Ingrese nombre" formControlName="nom"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Apellido</ion-label>
      <ion-input type="text" placeholder="Ingrese apellido" formControlName="ape"></ion-input>
    </ion-item>


    <ion-list>
      <ion-item>
        <ion-label position="stacked" >Tipo Usuario</ion-label>
        <ion-select placeholder="Selecciona" formControlName="tipo_usuario">
          <ion-select-option value="Alumno">Alumno</ion-select-option>
          <ion-select-option value="Docente">Docente</ion-select-option>
          <ion-select-option value="Administrador">Administrador</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>


    <ion-item>
      <ion-label position="stacked">Fecha nacimiento</ion-label>
      <ion-input type="date"   max="2004-09-06" placeholder="Ingrese fecha nacimiento" formControlName="fecha_nac"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Semestre</ion-label>
      <ion-input type="number" placeholder="Ingrese semestre" formControlName="semestre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Contraseña</ion-label>
      <ion-input type="password" placeholder="Ingrese contraseña" formControlName="password"></ion-input>
    </ion-item>
    <ion-list>
      
    </ion-list>
    <ion-item>
      <ion-label position="stacked">Repita Contraseña</ion-label>
      <ion-input type="password" placeholder="Ingrese nuevamente contraseña" [(ngModel)]="verificar_password"
        [ngModelOptions]="standalone"></ion-input>
    </ion-item>
    
    <ion-buttons>

    
    <ion-button type="submit" [disabled]="!usuario.valid">Registrar <img class="imagenbot2" src="../../../assets/img/icons8-registration-100.png" alt="">
    </ion-button>
    <ion-button (click)="modificar()" [disabled]="!usuario.valid">Modificar <img class="imagenbot2" src="../../../assets/img/icons8-edit-file-100.png" alt=""></ion-button>
    
    <ion-button (click)="limpiar()"  > Limpiar <img class="imagenbot2" src="../../../assets/img/icons8-delete-100.png" alt=""></ion-button>
  </ion-buttons>
  </form>

  </ion-content>
</ion-menu>

  
  <ion-router-outlet id="mainxd"></ion-router-outlet>

  <ion-card>
  <h1 style="color: #FFB800;" >Lista de usuarios</h1>

  <ion-buttons>
  <ion-button color="duoc" (click)="agregar()">Agregar<img class="imagenbot" src="../../../assets/img/icons8-plus-math-100.png"></ion-button>
</ion-buttons>

  <ion-list  color="dark" lines="none" *ngFor="let usuario of usuarios">
    <!-- <div class="listavista"> -->

    <h3>Rut: {{usuario.rut}}</h3>
    <h4>Nombre: {{usuario.nom}} {{usuario.ape}}</h4>
    <h4>Email: {{usuario.email}}</h4>

   <ion-buttons>
    
    <ion-button  color="warning" (click)="buscar(usuario.id)">Buscar<img class="imagenbot" src="../../../assets/img/icons8-find-user-male-100.png"></ion-button>
    <ion-button color="danger" (click)="borra(usuario.id)">Eliminar <img class="imagenbot" src="../../../assets/img/icons8-delete-100.png"></ion-button>
  </ion-buttons>

 <!--  </div> -->
  </ion-list>

  
  </ion-card>

  
    
  
</div>

</ion-content>



