<app-header titulo="Alumno"></app-header>

<ion-content>
  <div class="fondo">
          <ion-card>
            <ion-card-header >
              <ion-card-title>PERFIL Duoc UC</ion-card-title>
              <hr>
              <img  class="fotis" src="../../../assets/img/icons8-cat-profile-100.png" />
              <ion-item>
                <hr>
                <h3 slot="start" >Roberto Gracias</h3>
                
                  
                
              </ion-item>
          </ion-card-header>
          <ion-list>
            <ion-list-header > DATOS PERSONALES </ion-list-header>
  
            <ion-item>
                <ion-input readonly >Nombre: Roberto Garcia</ion-input>
            </ion-item>
            <hr>
            <ion-item>
              <ion-input readonly> Contacto: 987654321 </ion-input>
            </ion-item>
            <hr>
            <ion-item>
              <ion-input readonly > Rut:11.111.111-1 </ion-input>
            </ion-item>
            <hr>
            <ion-item>
              <ion-input readonly> Fecha de Nacimiento:01/01/0001 </ion-input>
            </ion-item>
            <hr>
            <ion-item>
              <ion-input readonly  > Semestre: 2 </ion-input>
            </ion-item>
            <hr>
            <ion-item>
              <ion-button slot="end" color="danger" size="">EDITAR</ion-button>
            </ion-item>
            <hr>
          </ion-list>
          </ion-card>
        </div>
      </ion-content>