<app-header titulo="Generar Clase"></app-header>

<ion-content>
  <div class="fondo">

    <ion-card class="recu" *ngIf="usuariolog.tipo_usuario == 'Docente'" >
      
        
        <ion-card-header>
          <ion-card-title color="duoc" >Generar Qr</ion-card-title>
          
        </ion-card-header>
          <div >

              <ngx-qrcode [elementType]="elementType" [value]="value"></ngx-qrcode>
              
              
               <p placeholder="Apretar boton para generar QR">{{value}}</p> 
            
          </div>
          <ion-button (click)="prueba()" *ngIf="isDisabled2 == true" color="duoc">Iniciar Clase</ion-button>
          <ion-button color="duoc" *ngIf="isDisabled == false" (click)="generarCodigo()">Generar codigo</ion-button>
          <ion-input type="text" *ngIf="isDisabled == false" [(ngModel)]="xd" placeholder="Codigo de clase"></ion-input>
          
          
        
      </ion-card>
    
    </div>
  
  
</ion-content>
