<app-header titulo="Generar Clase"></app-header>

<ion-content>
  <div class="fondo">
    <ion-card class="recu">
      
        
        <ion-card-header>
          <ion-card-title color="duoc" >Generar Qr</ion-card-title>
          
        </ion-card-header>
          <div >

              <ngx-qrcode [elementType]="elementType" [value]="value"></ngx-qrcode>
              
              <!-- <ion-input placeholder="boton para generar Qr" [(ngModel)]="value" ></ion-input> -->
               <p placeholder="Apretar boton para generar QR">{{value}}</p> 
            
          </div>
          
          <ion-button color="duoc" (click)="generarCodigo()">Generar codigo</ion-button>


          <ion-input type="text" placeholder="Codigo de clase"></ion-input>
          
          <ion-button (click)="prueba()" color="duoc">Probar</ion-button>
        
      </ion-card>
    </div>
</ion-content>
