<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      OA
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" color="light">
    <ion-row>
      <ion-col  color="Light" size="2">
        
      </ion-col>
      <ion-col size="8">
        <p>Bienvenido a la nueva experiencia de Duoc uc</p>

        <ion-button routerLink="/login">Login</ion-button>
      </ion-col>
      <ion-col size="2">
        
      </ion-col>
    </ion-row>
  </div>
</ion-content>
