<ion-header>
  <ion-toolbar>
    <ion-title>Asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fondo">
  <ion-card  class="recu">
      
        
    <ion-card-header>
      <ion-card-title color="duoc" >Leer Qr</ion-card-title>
      
    </ion-card-header>
      
      <ion-input type="text"  [(ngModel)]="tomaqr" placeholder="Ingrese el codigo de su clase "></ion-input>
      
      <ion-button (click)="marcarAsistencia()" color="duoc">Marcar asistencia</ion-button>
      
    
  </ion-card>

</div>
</ion-content>
