<app-header titulo="Clases"></app-header>

<ion-content>
  <div class="fondo">


    <ion-menu side="end" contentId="mainxd" class="extendido">
      <ion-header>
        <ion-toolbar color="duoc">
          <ion-buttons slot="end">
            <ion-button (click)="toggleMenu()"> <img class="imagenbot2" src="../../../assets/img/icons8-multiply-100.png" alt="">
            </ion-button>
          </ion-buttons>
          <ion-title>Datos</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <form [formGroup]="clase" (ngSubmit)="registrar2()">

          <ion-input formControlName="id" [disabled]="true"></ion-input>  
          <ion-item>
            <ion-label position="stacked">Codigo</ion-label>
            <ion-input type="number" placeholder="Ingrese Codigo" formControlName="cod"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Sigla</ion-label>
            <ion-input type="text" maxlength="12" placeholder="Ingrese sigla" formControlName="sigla"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Nombre Clase</ion-label>
            <ion-input type="text" placeholder="Ingrese nombre" formControlName="nom"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Semestre</ion-label>
            <ion-input type="text" placeholder="Ingrese semestre" formControlName="semestre"></ion-input>
          </ion-item>


          <ion-list>
            <ion-item>
              <ion-label position="stacked">Modalidad</ion-label>
              <ion-select placeholder="Selecciona" formControlName="modalidad">
                <ion-select-option value="Presencial">Presencial</ion-select-option>
                <ion-select-option value="Virtual">Virtual</ion-select-option>


                <ion-list>

                </ion-list>
              </ion-select>
            </ion-item>
          </ion-list>
          <ion-list>
            <ion-item>
              <ion-label position="stacked">Profesor</ion-label>
              <ion-select placeholder="Selecciona" formControlName="profe">
                <div *ngFor="let usuario of usuarios">
                  <div *ngIf="usuario.tipo_usuario == 'Docente'">


                    <ion-select-option value="{{usuario.rut}}">{{usuario.nom}} {{usuario.ape}}</ion-select-option>
                  </div>
                </div>



              </ion-select>
            </ion-item>
          </ion-list>



          <ion-buttons>
            <ion-button color="duoc" type="submit" [disabled]="!clase.valid">Registrar <img class="imagenbot2" src="../../../assets/img/icons8-registration-100.png" alt="">
            </ion-button>
            <ion-button color="duoc" (click)="modificar()">Modificar <img class="imagenbot2" src="../../../assets/img/icons8-edit-file-100.png" alt="">
            </ion-button>

            <ion-button color="danger" (click)="limpiar()"> Limpiar <img class="imagenbot2" src="../../../assets/img/icons8-delete-100.png" alt="">
            </ion-button>
          </ion-buttons>
        </form>

      </ion-content>
    </ion-menu>


    <ion-router-outlet id="mainxd"></ion-router-outlet>

    <ion-card>

      <h1 style="color: #FFB800;"> Lista de Clases</h1>

      


      <ion-buttons>



        <ion-button color="duoc" *ngIf="usuariolog.tipo_usuario == 'Administrador'" (click)="agregar()">Agregar<img class="imagenbot"
            src="../../../assets/img/icons8-plus-math-100.png"></ion-button>
      </ion-buttons>

      <ion-list color="dark" lines="none" *ngFor="let clase of clases">
        
        <div *ngIf="(usuariolog.rut == clase.profe) || (usuariolog.tipo_usuario== 'Administrador')">
          <h3>Id Clase: {{clase.id}}</h3>
          <h3>Codigo Clase: {{clase.cod}}</h3>
          <h3>Nombre Clase: {{clase.nom}}</h3>
          <h3>Sigla: {{clase.sigla}}</h3>
          

            <div class="prueba"  *ngIf="usuariolog.tipo_usuario == 'Docente'">
              <ion-buttons>
              <ion-button color="Success" (click)="goQr(clase.cod)">Iniciar Clase<img class="imagenbot" src="../../../assets/img/icons8-add-properies-100.png"></ion-button>
            </ion-buttons>
            </div>
          
            
            
            <div class="prueba" *ngIf="usuariolog.tipo_usuario == 'Administrador'">

            <ion-buttons>
              <ion-button color="warning" (click)="buscar(clase.id)">Buscar<img class="imagenbot" src="../../../assets/img/icons8-find-user-male-100.png"></ion-button>
              <ion-button color="danger" (click)="borra(clase.id)">Eliminar <img class="imagenbot" src="../../../assets/img/icons8-delete-100.png"></ion-button>
            </ion-buttons>
            </div>
          
          
        </div>


      </ion-list>

    </ion-card>






  </div>






</ion-content>
