<!-- <ion-menu side="start" menuId="MenuGlobal" contentId="principal">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list >
      <ion-item>Menu Profesor</ion-item>
      <ion-item>Mis cursos</ion-item>
      <ion-item>Tomar asistencia</ion-item>
      
    </ion-list>
    <ion-list>
      
      <ion-item>Menu Alumno</ion-item>
      <ion-item></ion-item>
      <ion-item>Ingresar a clase</ion-item>
      <ion-item>MIs cursos</ion-item>
      
    </ion-list>
  </ion-content>
</ion-menu> -->