
.log{
    background-color: antiquewhite;
    border-radius: 15px ;
    border: 2px solid;
    border-color: darkslategrey;
    padding: 3px 10px 10px 10px;
}

.fotis{
    width: 150px;
}

.fondo{
    min-height: 100vh;
    background: rgb(2,0,36);
    background: linear-gradient(138deg, rgba(2,0,36,1) 0%, rgba(18,126,131,0.5256477591036415) 35%, rgba(0,212,255,1) 100%);
    
    text-align: center;
}



@font-face {   
    font-family: 'Baloo2';    
    src: url('../../../assets/fonts/Baloo2-VariableFont_wght.ttf');
  }

.linksextras{
    margin-top: 6vh;
}
ion-card {
    font-family: baloo2 !important;
    border-radius: 25px;
    margin: 0 auto;
    top: 5vh;
    width: 70%;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;

    ion-card-header {
        ion-card-subtitle {
            font-size: x-large;
            font-weight: bolder;
            color: #FFB800;
            
        }

        ion-card-title {
            font-size: x-large;
            
        }
    }

    ion-item {
        --background: none;

        ion-label {
            font-size: large;
            font-weight: bolder;
            color:#FFB800;
        }
        ion-input{
            font-weight: lighter;
            color: #FFFFFF;
        }
    }

    a {
        text-decoration: none;
        font-size: large;
        font-weight: bolder;
        color: #FFB800;
        font-family:baloo2;
    }
    ion-button{
        margin-top: 5vh;
        
       font-family: baloo2;
       font-weight: bolder;
       font-size: large;
       width: 50vh;

    }
}




@media (max-width: 400px) {
    .fondo {
        max-height: 100%;
        background-color: #1a1a1a;
        height: 100%;
        
        ion-card {
            width: 100vw;
            height: 100%;
        }
    }
    .fotis{
        width: 150px;
    }
    ion-card {
        font-family: baloo2 !important;
        background-color: #1a1a1a;

        
    
        border-radius: 0px;
        margin: 0 auto;
        top: 0vh;
        
        /* width: 80vh; */
        display: flex;
        flex-direction: column; 
        align-items: center;
        justify-content: center;
    
        ion-card-header {
            ion-card-subtitle {
                font-size: x-large;
                font-weight: bolder;
                color: #FFB800;
                
            }
    
            ion-card-title {
                font-size: x-large;
                
            }
        }
    
        ion-item {
            --background: none;
    
            ion-label {
                font-size: small;
                font-weight: bolder;
                color: #FFB800;
            }
            ion-input{
                font-size: small;
                font-weight: lighter;
                color: #FFB800;;
            }
        }
    
        a {
            text-decoration: none;
            font-size: large;
            font-weight: bolder;
            color: #FFB800;
            font-family:baloo2;
        }
        ion-button{
            margin-top: 5vh;
            
           font-family: baloo2;
           font-weight: bolder;
           font-size: large;
           width: 30vh;
    
        }
    }
}
